@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");



body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
  letter-spacing: 1px;
  
}

h2, h1 {
  color:hsl(220, 13%, 13%) ;
}

button{
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
  transition: .5s ease-in;
  text-transform: uppercase;
  letter-spacing: 1.5px;
 }

a {
  text-decoration: none;
  color: inherit;
  font-size: .75rem;
  padding: 0;
  margin: 0;
  color: inherit;
}


button:hover {
  opacity: 0.5;
  transition: .6s ease-in;
  cursor: pointer;
 
} 


nav {
  display: flex;
  top: 0%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
padding: 10px 0px;


  
  
}


.navlinks{
  position: absolute;
  margin-top: 25rem;
  display: none; 
  animation: new .6s ease;
  overflow: hidden;
  padding-top: 100vh;
  padding-bottom: 100vh;
  width: 70vw;
  /* margin-right: 30vw; */
  animation: .3s new ease-in;
  background: white;
  z-index: 1;
 box-shadow: 0px 10rem 40rem rgba(55, 57, 61, 0.9);
  color: hsl(219, 9%, 45%);
  
}

.navlinks > ul  {
  list-style-type: none;
  display: flex;
  padding: 5px 0px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 1rem;
 text-transform: capitalize;
  width: 80vw;
  margin: 0 auto;
  border-radius: 7px;
  font-weight: 700;
   
}

.navlinks > ul > li {
  margin-top: 10px;
  margin-bottom: 10px;

}

.nav-btn {
  margin-left: 10px;
  margin-right: 20px;
  z-index: 10;
}


.close {
  position: fixed;
}



.user-info  img {
  width: 25px;
 
  margin-left: 10px;
  margin-right: 20px;
 
}

.user {
  border-radius: 50%;
}

.user:hover {
 border: 2px solid hsl(26, 100%, 55%);
 transition: .4s ease-in;
 cursor: pointer;
}

.cart-btn {
  position: relative;
}

small {
  margin-left: 10px;
  margin-bottom: 10px;
}

.cart-value {
  position: absolute;
  z-index: 10;
  top: -1%;
 margin-left: 30px;
 background: hsl(26, 100%, 55%);
 height: 23px;
 width: 30px;
 border-radius: 20px;
 color: white;
 font-weight: 700;
 font-size: 1rem;
}

.cart {
  position: absolute;
  background: white;
  min-height: 280px;
  width: 90%;
  max-width: 480px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
top: 14%;
  z-index: 10;
  border-radius: 7px;
  box-shadow: 0px 10px 30px rgba(55, 57, 61, 0.1);
}

.cart > h3 {
  padding:  8px 20px;
}

.cart-main > p {
 margin-top: 60px;
 font-weight: 600;
}


.cart-main {
  border-top: 1px solid hsl(220, 14%, 85%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}

.cart-btn.check {
  width: 85%;
  margin: 0 auto;
  margin-top: 6px;
  float: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: .8rem;
  margin-top: 10px;
}

.item > img {
  height: 80px;
  border-radius: 5px;
}

.item button {
  width: 40px;
}
.info b {
  margin-left: 10px;
}




.image-container {
  position: relative;
  height: 50vh;
  width: 100%;
  max-width: 480px;
  
  margin: 0 auto;
}

.image-container > img {
  height: 100%;
  width: 100%;

}




.image-container > img:hover {
  cursor: pointer;
  
}
.btn-container {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
 
}



.plus, .minus {
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;

}

.plus img, .minus img {
  width: 8px;
}

.thumbnail-container {
  display: none;
}

.thumb:hover {
  opacity: .5;
  transition: .3s ease-in;
}

.product-details {
  padding: 0px 30px;
  max-width: 480px;
  margin: 0 auto;
}

.product-details > p {
  color: hsl(219, 9%, 45%) ;
  font-weight: 500;
}

.orange {
  color:hsl(26, 100%, 55%);
  font-weight: 700;
}
.orange:nth-child(2){
  background:  hsl(25, 100%, 94%);
  width: 40px;
  padding: 3px 5px;
  border-radius: 5px;
}

.price-info {
  display: grid;
grid-template-columns: 1fr 1fr  1fr 1fr;
gap: 10px;
}

.price-info > h4 {
grid-column: span 2;
}

.price-info > h3 {
  
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
}

.toggle-amount {
  width: 100%;
  background:  hsl(223, 64%, 98%);
  padding: 7px 3px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.toggle-amount .plus, .toggle-amount  .minus{
  background: none;
  
}

.toggle-amount .plus img ,
 .toggle-amount  .minus img {
  width: 11px;
 }

 span {
  font-weight: 700;
 }

 .cart-btn {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  background: hsl(26, 100%, 55%);
  border-radius: 5px;
  padding: 10px 0px;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 1rem;
  box-shadow: 0px 20px 20px hsl(25, 100%, 94%);
 }

 .modal {
  display: none;
 }

 .bg {
  background: rgba(34, 28, 28, .7);
  
 }




@keyframes new {
  0% {
    transform: translate(-100%);
  }
 
  100%{
  transform: translate(0%);
  }
}

@media screen and (min-width:768px) {
  
    
  body {
    padding: 0px 8%;
  }
  
  nav {
    box-sizing: border-box;
    position: relative;
  padding: 0;
  padding-top: 10px;
   border-bottom: 1px solid hsl(223, 64%, 98%) ;
   margin-bottom: 4rem;
  }

  .navlinks{
      position: relative;
      margin: 0;
      height: auto;
      display: flex;
      flex-direction: row;
      padding: 0 10px;
      margin: 0;
      height: 100%;
      padding-top: 10px;
      width: auto;
      box-shadow: none;

    }  
    
    .navlinks > ul  {
      flex-direction: row;
      align-items: center;
      width: 100%;
      text-align: center;
      gap: 30px;
      padding: 0;
      background: none;
      box-shadow: none;
    }
  
    .navlinks > ul > li{
    padding-bottom: 20px;
        margin: 0;
        margin-left: 10px;
        font-weight: 400;
  }

  .navlinks > ul > li:hover {
    border-bottom: 3px solid hsl(26, 100%, 55%);
    transition: .3s ease-in;
    cursor: pointer;
  }

    
    .nav-btn{
      display: none;
    }

    .navlogo {
      margin-left: 20px;
    }

    .cart {
      left: 80%;
      width: 440px;
      transform: translate(-50%);
    }

    .product {
      width: 43%; 
      float: left;
      max-width: 600px;
      
    }
    .product-details{
      width: 40%;
      float: right;
      max-width: 600px;
      max-width: none;
    }

    .price-info > h3 {
      grid-column: span 4;
      margin-top: -20px;
    }
    .btn-container {
      display: none;
    }

    .image-container {
      max-width: none;
    }
    .image-container img {
      border-radius: 8px;
      
    }

    .thumbnail-container {
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;
      gap: 10px;
      margin-top: 10px;
    }

    .thumbnail-container img {
      width: 100%;
      border-radius: 7px;
    }

    .thumb:hover {
        cursor: pointer;
    }

    .toggle-amount {
      width: 30%;
      float: left;
    }

    .cart {
      margin-top: 8vh;
    }

    .cart-btn {
      width: 65%;
      float: right;
      margin-top: 0px;
    }

    .modal {
      position: absolute;
      background: rgba(34, 28, 28, .7);
      display: block;
      height: 100vh;
      width: 100vw;  
      top: 0%;
      left: 0%;
      right: 0%;
      bottom:0%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      z-index: 10;
    
    } 

    .modal > .image-container {
      width: 32%;
      min-width: 400px;
      margin: 0 auto;
    }

    .modal > .thumbnail-container {
      width: 27%;
      min-width: 320px;
      margin: 0 auto;
    }

    .modal > .image-container > .btn-container {
      display: flex;
    }

    .modal > .image-container >
     .btn-container > button {
      margin: 0 -4%;
    }

    .close-modal {
      top: 10%;
      left: 70%;
      transform: translateX(-70%);
    position: fixed;
     z-index: 20; 
    }

    .close-modal svg:hover {
      fill: hsl(26, 100%, 55%);
      opacity: 1;
    }
    svg {
      fill: #fff;
    }



    

  }